#####################################################################
#   Mainsail config
#####################################################################

[gcode_macro ON_CANCEL]
gcode:
    BED_MESH_CLEAR
    CLEAR_PAUSE
    SET_GCODE_OFFSET Z=0
    SET_SKEW CLEAR=1
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0
    SET_FAN_SPEED FAN=nevermore SPEED=0
	M107  # part fan off
	SET_LED_EFFECT EFFECT=toolhead_idle REPLACE=1

[gcode_macro _CLIENT_VARIABLE]
variable_user_cancel_macro: "ON_CANCEL"    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#####################################################################
#   Filament Loading
#####################################################################

[gcode_macro LOAD_FILAMENT]
variable_load_distance:  100
variable_purge_distance:  25
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    SAVE_GCODE_STATE NAME=load_state
    G91
    G92 E0
    G1 E{load_distance} F{max_velocity} # fast-load
    G1 E{purge_distance} F{speed} # purge
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance:  100
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    G92 E0
    G1 E-{unload_distance} F{max_velocity} # fast-unload
    RESTORE_GCODE_STATE NAME=unload_state
    

#####################################################################
#   Brush
#####################################################################

[gcode_macro BRUSH]
gcode:
	KOMB

[gcode_macro BRUSH_UNTIL_TEMP]
description: Heat/cool extruder to TEMP and brush every 10C
gcode:
  {% set target_temp = params.TEMP|float %}
  {% set start_temp = printer.extruder.temperature|float %}

  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={target_temp}

  {% if target_temp > start_temp %}
    # Heating
    {% set first_temp = ((start_temp / 10)|round(0, 'ceil')|int) * 10 %}

    {% for temp in range(first_temp, target_temp|int + 1, 10) %}
      {% if temp > start_temp and temp < target_temp %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={temp}
        BRUSH
      {% endif %}
    {% endfor %}

    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={target_temp - 1}

  {% elif target_temp < start_temp %}
    # Cooling
    {% set first_temp = ((start_temp / 10)|round(0, 'floor')|int) * 10 %}

    {% for temp in range(first_temp, target_temp|int - 1, -10) %}
      {% if temp < start_temp and temp > target_temp %}
        TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={temp}
        BRUSH
      {% endif %}
    {% endfor %}

    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={target_temp + 1}

  {% endif %}

  BRUSH
	
#####################################################################
#   A better print_start macro for v2/trident
#####################################################################
[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("45")|int %}
  {% set x_wait = 260 %}
  {% set y_wait = 304 %}

  # Reset
  ON_CANCEL
  SET_LED_EFFECT EFFECT=toolhead_printing REPLACE=1
  G28  # home
  G90  # absolute position
  G1 X{x_wait} Y{y_wait} Z10 F9000  # go to wait position

  # Fans for print and heating
  SET_FAN_SPEED FAN=nevermore SPEED=1
  {% if target_chamber <= 30 %}
    SET_FAN_SPEED FAN=exhaust_fan SPEED=1
  {% endif %}

  # Start all heating and purging
  M140 S{target_bed}  # set bed temp no wait
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"
  BRUSH_UNTIL_TEMP TEMP={target_extruder}
  SET_DISPLAY_TEXT MSG="Hotend: 150c"
  BRUSH_UNTIL_TEMP TEMP=150
  SET_DISPLAY_TEXT MSG="Print bed: {target_bed}c"
  M190 S{target_bed}  # set bed temp + wait
  SET_DISPLAY_TEXT MSG="Chamber: {target_chamber}c"
  TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber}

  # Calibration
  SET_DISPLAY_TEXT MSG="Leveling"
  Z_TILT_ADJUST
  SET_DISPLAY_TEXT MSG="Z offset"
  CARTOGRAPHER_TOUCH_HOME
  SET_DISPLAY_TEXT MSG="Bed mesh"
  BED_MESH_CALIBRATE ADAPTIVE=1

  # Heat up the hotend up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"
  G1 X{x_wait} Y{y_wait} Z10 F9000
  M109 S{target_extruder}  # heat hotend + wait

  SKEW_PROFILE LOAD=Califlower

  SET_DISPLAY_TEXT MSG="Printer goes brr"

[gcode_macro PRINT_END]
gcode:
  {% set x_wait = 260 %}
  {% set y_wait = 304 %}
  SAVE_GCODE_STATE NAME=STATE_PRINT_END

  # Small immediate retract to release nozzle pressure
  G92 E0
  G1 E-0.5 F3600

  TURN_OFF_HEATERS
  M107

  G90
  M204 S{printer.configfile.settings.printer.max_accel / 2}

  # Immediately get away from the print
  {% if printer.gcode_move.gcode_position.z + 1 <= printer.toolhead.axis_maximum.z %}
    G0 Z{printer.gcode_move.gcode_position.z + 1} F{printer.configfile.settings.printer.max_z_velocity * 60}
  {% endif %}

  G0 X{x_wait} Y{y_wait} F{printer.configfile.settings.printer.max_velocity * 60 / 2}

  # Finish the large retract after leaving the print
  G92 E0
  G1 E-9.0 F3600

  # Move printed part down
  G0 Z{printer.gcode_move.gcode_position.z + 50
        if printer.gcode_move.gcode_position.z + 50 <= printer.toolhead.axis_maximum.z
        else printer.toolhead.axis_maximum.z} \
     F{printer.configfile.settings.printer.max_z_velocity * 60}

  BED_MESH_CLEAR
  CLEAR_PAUSE
  SET_SKEW CLEAR=1

  RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0

  SET_FAN_SPEED FAN=exhaust_fan SPEED=1
  SET_FAN_SPEED FAN=nevermore SPEED=1
  SET_LED_EFFECT EFFECT=toolhead_idle REPLACE=1

#####################################################################
#   TEST_SPEED from Ellis' Printer Tuning
#####################################################################

[gcode_macro TEST_SPEED]
# Home, get position, throw around toolhead, home again.
# If MCU stepper positions (first line in GET_POSITION) are greater than a full step different (your number of microsteps), then skipping occured.
# We only measure to a full step to accomodate for endstop variance.
# Example: TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10

description: Test for max speed and acceleration parameters for the printer. Procedure: Home -> ReadPositionFromMCU -> MovesToolhead@Vel&Accel -> Home -> ReadPositionfromMCU

gcode:
    # Speed
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}
    # Acceleration
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    # Minimum Cruise Ratio
    {% set min_cruise_ratio = params.MIN_CRUISE_RATIO|default(0.5)|float %}
    # Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
    {% set bound = params.BOUND|default(20)|int %}
    # Size for small pattern box
    {% set smallpatternsize = SMALLPATTERNSIZE|default(20)|int %}
    
    # Large pattern
        # Max positions, inset by BOUND
        {% set x_min = printer.toolhead.axis_minimum.x %}
        {% if x_min < 0 %}
            {% set x_min = 0 %}
        {% endif %}
    
        {% set y_min = printer.toolhead.axis_minimum.y %}
        {% if y_min < 0 %}
            {% set y_min = 0 %}
        {% endif %}
    
        {% set x_min = x_min + bound %}
        {% set x_max = printer.toolhead.axis_maximum.x - bound %}
        {% set y_min = y_min + bound %}
        {% set y_max = printer.toolhead.axis_maximum.y - bound %}
    
    # Small pattern at center
        # Find X/Y center point
        {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
        {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
        
        # Set small pattern box around center point
        {% set x_center_min = x_center - (smallpatternsize/2) %}
        {% set x_center_max = x_center + (smallpatternsize/2) %}
        {% set y_center_min = y_center - (smallpatternsize/2) %}
        {% set y_center_max = y_center + (smallpatternsize/2) %}

    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_SPEED
    
    # Output parameters to g-code terminal
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
    
    # Home and get position for comparison later:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28
        # QGL if not already QGLd (only if QGL section exists in config)
        {% if printer.configfile.settings.quad_gantry_level %}
            {% if printer.quad_gantry_level.applied == False %}
                QUAD_GANTRY_LEVEL
                G28 Z
            {% endif %}
        {% endif %} 
        # Move 50mm away from max position and home again (to help with hall effect endstop accuracy - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/24)
        G90
        G1 X{printer.toolhead.axis_maximum.x-50} Y{printer.toolhead.axis_maximum.y-50} F{30*60}
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 X Y
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        M400
        GET_POSITION

    # Go to starting position
    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}

    # Set new limits
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} MINIMUM_CRUISE_RATIO={min_cruise_ratio}
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}
    {% endif %}

    {% for i in range(iterations) %}
        # Large pattern diagonals
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        
        # Large pattern box
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
    
        # Small pattern diagonals
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        
        # Small pattern box
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} MINIMUM_CRUISE_RATIO={printer.configfile.settings.printer.minimum_cruise_ratio} 
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
    {% endif %}

    # Re-home and get position again for comparison:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 # This is a full G28 to fix an issue with CoreXZ - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/12
        # Go to XY home positions (in case your homing override leaves it elsewhere)
        G90
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        M400
        GET_POSITION

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_SPEED
